@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

:root {
  --background: #0b192c;
  --navbar_bg: #021526;
  --foreground: #171717;
  --hover: #7c93c3;
  font-family: "Outfit", sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Outfit", sans-serif;
}
